<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore.Mac" version="3.0.95-unstable" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries.Mac" version="3.0.95-unstable" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.StarterPack.Mac" version="3.0.95-unstable" targetFramework="net45" />
  <package id="MvvmCross.Mac" version="3.0.95-unstable" targetFramework="net45" />
  <package id="MvvmCross.PortableSupport" version="3.0.95-unstable" targetFramework="net45" />
</packages>